/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/source-code-pro-v13-latin-regular.woff2') format('woff2'),
       url('/fonts/source-code-pro-v13-latin-regular.woff') format('woff');
}

/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('/fonts/josefin-sans-v17-latin-300.woff2') format('woff2'),
       url('/fonts/josefin-sans-v17-latin-300.woff') format('woff');
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/josefin-sans-v17-latin-regular.woff2') format('woff2'),
       url('/fonts/josefin-sans-v17-latin-regular.woff') format('woff');
}

/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('/fonts/josefin-sans-v17-latin-700.woff2') format('woff2'),
       url('/fonts/josefin-sans-v17-latin-700.woff') format('woff');
}

/* josefin-sans-italic - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/josefin-sans-v17-latin-italic.woff2') format('woff2'),
       url('/fonts/josefin-sans-v17-latin-italic.woff') format('woff');
}

html {
    font-size: 14px;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
code,kbd,pre,samp {
    font-family: 'Source Code Pro', monospace;
}
.container {
    max-width: 800px;
}
#user-bar {
    padding: 0 15px;
    border-bottom: 1px solid #e1e1e1;
}

#user-bar button, .button {
    margin: 8px;
}

#user-bar .user-greeting {
    font-size: .8em;
    margin: 8px;
    display: inline-block;
    line-height: 38px;
    vertical-align: -2px;
}

#header {
    position: relative;
    height: 300px;
    border-bottom: 1px solid #e1e1e1; 
    margin-bottom: 20px;
}

#header > h1 {
    padding-top: 1em;
    margin-bottom: .25em;
    text-align: center;
}

#header > h1 > a {
    color: #000;
    text-decoration: none;
}

#header > h4 {
    display:none;
    margin: 0;
    text-align: center
}

#header > .social-container {
    background: #fff;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    border-top: 1px solid #e1e1e1;
    width: 100%;
    opacity: 0.85;
}

#header .social-links {
    margin: 0 auto;
    text-align: center;
}

#header .social-links > li {
    display: block;
    margin: 0 1px;
}

#header .social-links > li:hover {
    border-collapse: collapse;
    margin: 0;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
}

#header .social-links > li > a:hover {
    text-decoration: underline;
}


#header .social-links > li > a {
    display:inline-block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}

#header .social-logo {
    width: 18px;
    height: 18px;
}

@media (min-width: 550px) {
    #header .social-links > li {
        display: inline-block;
    }

    #header .social-links > li > a {
        width: 150px;
    }

    #header > h4 {
        display: block;
    }
}

#header-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.post > h6 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.post > h6 > a {
    color: #000;
    text-decoration: none;
}

.post > h6 > a:hover {
    text-decoration: underline;
}

.post > small {
    display: inline-block;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: .9rem;
}

#post-composer {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 12px;
}

#post-composer h4 {
    text-align: center;
}

#post-entry {
    position: relative;
    height: 50%;
    float: left;
    width: 50%;
}

#post-entry > button {
    margin: 0 0 8px 16px;
    float: right;
}

#post-entry > textarea {
    height: 100%;
    box-sizing: border-box;
}

#post-preview {
    float: left;
    width: calc(50% - 16px);
    max-width: 800px;
    margin: 8px;
    height: 100%;
    overflow: auto;
}

.youtube-play-button {
    width: 100%;
    height: 100%;
    background: center / 128px url('/img/youtube-128.png') no-repeat;
    filter: grayscale(100%);
    position: absolute;
    top: 0;
    left: 0;
}

.youtube-play-button:hover {
    filter: none;
}

.youtube-container {
    display: inline-block;
    position: relative;
    background: #000;
    width: 480px;
    height: 360px;
    line-height: 360px;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 100%;
}

.youtube-container img {
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 100%;
}
