{% extends "index.html" %}
{%- block title %}NickMass.com{% endblock -%}

{%- block content -%}
    {%- for post in page.posts -%}
        {%- include "post.html" -%}
        {%- if !loop.last -%}
        <hr>
        {%- endif -%}
    {%- endfor -%}
    <div>
        {%- if current_page == 2 -%}
        <a class="button u-pull-left" href="/">Prev</a>
        {%- else if current_page > 2 -%}
        <a class="button u-pull-left" href="/page/{{current_page - 1}}">Prev</a>
        {%- endif -%}
        {%- if page.has_more -%}
        <a class="button u-pull-right" href="/page/{{current_page + 1}}">Next</a>
        {%- endif -%}
    </div>
{%- endblock -%}
